.App{
  background-color: #000000;
}
.HomeBody{
  background-color: #000000;
  color: white;
}
.footerBox{
  padding-top: 30px;
  background: #000000;
}
.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover{
  color: red;
}
.banner{
  height: 600px;
  display: flex;
  align-items: center;
  background-position: center;
}
.banner::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}
.banner-info{
  width: 40%;
  margin-left: 100px;
  z-index: 1;
  color: white;
}
.h1Tittle{
  font-size: 50px;
  margin-left: 100px;
  color: white;
}
.BootCol{
  margin: 1px;
}
/* */
.slideList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
.MovieCard{
  transition: all 0.5s ease-out;
}
.cardWrapBox{
  width:350px;
  height: 200px;
}
.badge_container{
  display: flex;
  gap: 5px;
  justify-content: center;
}
.movieTitle{
  font-size: 30px;
  opacity: 1 !important;
}
.overlay{
opacity: 0;
background: rgb(0, 0, 0, 0.3);
color: white;
width: 350px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: all 1s ease-out;
}
/**/
@media (max-width:500px){
  .banner-info{
    width: 90%;
    margin-left: 20px;
    margin-top: 300px;
    z-index: 1;
    color: white;
  }
  .h1Tittle{
    font-size: 35px;
    margin-left: 20px;
  }
  /**/
  .MovieCard{
    width:350px;
    height: 200px;
    transition: all 0.5s ease-out;
  }
  .MovieCard:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-out;
  }
  .MovieCard .overlay:hover {
    opacity: 1;
  }
  .MovieCard .overlay:hover {
    display: none;
  }
}
.MovieCard .overlay:hover {
  opacity: 1;
}
.overlay.show{ 
  opacity: 1;
  background: rgb(0, 0, 0, 0.3);
  color: white;
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-out;
}
.MovieCard.show{
  width:350px;
  height: 200px;
  transition: all 0.5s ease-out;
  transform: scale(1.05);
}
/* 영화 디테일 css */
.movieDetailCard{
  background-color: #000000;
}
.movieDetail_mainContainer{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.movieDetail_textContainer{
  width: 600px;
}
/* */
.movieDetailMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: white;
}
.movieDetail_img{
  width: 540px;
  height: 810px;
}
.movieDetail_textContainer{
  margin: 0 0 0 50px;
}
.movieDetail_title{
  font-size: 65px;
}
.movieDetail_genre{
  font-size: 24px;
  display: flex;
  gap: 10px;
}
.movieDetail_genre_badge{
  margin-right: 5px;
  margin-bottom: 3px;

  background-color: #DC143C;
  width: auto;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  font-size: 14px;
}
.movieDetail_overview{
  font-size: 18px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 30px 0 30px 0;
  padding: 30px 0 30px 0;
}
.movieDetail_tagline{
  font-size: 24px;
  margin-bottom: 20px;
}
.movieDetail_detailScores{
  font-size: 20px;
  display: flex;
  gap: 40px;
}
.movieDetail_users{
  margin-right: 10px;
  color: #778899;
}
.movieDetail_average{
  margin-right: 10px;
  color: #F6CA2A;
}
.movieDetail_average_10{
  color: gray;
}
.movieDetail_badge{
  background-color: #DC143C;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
}
.movieDetail_badge_container{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.movieDetail_detailText{
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}
/**/
.movieDetail_bottom{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* 리뷰 컴포넌트*/
.review_mainContainer{
  width: 1200px;
  border: 5px solid white;
  padding: 30px;
}
.review_title{
  font-size: 28px;
}
.review_item{
  border-bottom: 1px solid white;
  padding: 30px;
}
.review_item:last-child{
  border: none;
}
/**/
.Recommend_mainContainer{
  width: 1200px;
  border: 5px solid white;
  padding: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}
/**/
.Toggle_Container{
  display: flex;
  margin-left: 10px;
}
.Toggle_Reviews{
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #F6CA2A;
  border-right: 0px;

  background-color: black;
  padding: 10px;
  color: #DC143C;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Toggle_Recommend{
  border-radius: 0px 3px 3px 0px;

  background-color: black;
  border: 1px solid #F6CA2A;
  padding: 10px;
  color: #DC143C;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Toggle_Reviews:hover{
  background-color: #171717;
}
.Toggle_Recommend:hover{
  background-color: #171717;
}
.Toggle_Reviews.Toggle_active{
  background-color: #DC143C;
  color: white;
}
.Toggle_Recommend.Toggle_active{
  background-color: #DC143C;
  color: white;
}
.unActive{
  display: none;
}
/**/